.outer{
    width: 11vw;
    height: 11vw;
/* padding: 0.25rem; */
color: #ffffff;
background-color: #2d2d2d;
display: flex;
flex-direction: column;
border-radius: 5px 8px 8px 5px; 
border-left: 6px solid #b4fff6;
text-align: left;
padding-left: 1rem;
position: relative;
margin: 0.5rem;
}

.time{
font-family: 'Poppins';
color: #ffffff;
font-weight: 200;
font-size: 0.8rem;
position: absolute;
top: 0.5rem;
left: 0.5rem; 
}

.titleHolder{
   
    position:absolute;
    top: 3.5rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 0;
    left: 0.5rem;

}
.mainTitle{
    font-family: 'Poppins';
    color: #ffffff;
    font-weight: 600;
    font-size: 1.0rem;
    display: inline-block;
}
.subTitle{
    font-family: 'Poppins';
   
    font-weight: 300;
    font-size: 0.8rem;
    display: inline-block;

}
.barHolder{
    position: absolute;
    bottom: 6%;
    right: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 0.8rem;
    text-align: center; 
}
.addBar{
  border: 1px solid #dbe2e1;
  width: 1.5vw;
  height: 1.5vw; 
    border-radius: 5px;
}
.number{
    width: 1.5vw;    
    height: 1.5vw;


}