.outer{
background-color: #b4fff6;
width: 12vw; 
height: 12vw;
border-radius: 10px;
position: relative;
margin: 0.5rem;
cursor: pointer;
transition: all 400ms ease-in-out;
}

.mainTitle{
    font-family: 'Poppins';
    font-weight: 700;
    color: black;
    /* font-size: 1.4rem; */
    font-size: 1.5vw;
    display: block;    

}
.subTitle{
    font-family: 'Poppins';
    /* font-size: 1rem; */
    font-size: 1.3vw;
    font-weight: 400 ;
    color: #4d4d4d;
}
.image{
    width: 20%;
    position: absolute;
    left: 10%;
    top: 10%;

}
.titleHolder{
    position: absolute;
    left: 10%;
    top: 55%;
    text-align: left;
    line-height: 1;
}