.outer{
    width: 15vw;
    height: 40vh;
    position: relative;
    background-color: darkslategrey;
    margin: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
}
    
.h1{
    font-size: 1rem ;
    font-family: 'Poppins';
    font-weight: 600;
    color: thistle;
    margin: 0;
   
}